<?xml version="1.0" encoding="UTF-8"?>  
<!-- status=debug 可以查看log4j的装配过程 -->  
<configuration status="off" monitorInterval="1800">  
    <properties>  
        <property name="LOG_HOME">/log/log4j2</property>  
        <!-- 日志备份目录 -->  
        <property name="BACKUP_HOME">{LOG_HOME}/backup</property>  
        <property name="STAT_NAME">stat</property>  
        <property name="SERVER_NAME">global</property>  
    </properties>  
    <appenders>  
        <!-- 定义控制台输出 -->  
        <Console name="Console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%C:%line] - %msg%n" />  
        </Console>  
        <!-- 程序员调试日志 -->  
        <RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${SERVER_NAME}"  
            filePattern="${LOG_HOME}/${SERVER_NAME}.%d{yyyy-MM-dd-HH}.log">  
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />  
            <Policies>  
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />  
            </Policies>  
        </RollingRandomAccessFile>  
        <!-- 产品数据分析日志 -->  
        <RollingRandomAccessFile name="ProductLog"  
            fileName="${LOG_HOME}/${SERVER_NAME}_${STAT_NAME}"  
            filePattern="${LOG_HOME}/${SERVER_NAME}_${STAT_NAME}.%d{yyyy-MM-dd-HH}.log">  
            <PatternLayout  
                pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />  
            <Policies>  
                <TimeBasedTriggeringPolicy interval="1"  
                    modulate="true" />  
            </Policies>  
        </RollingRandomAccessFile>  
    </appenders>  
    <loggers>  
            <!-- Root Logger -->  
        <root level="ERROR">  
            <appender-ref ref="Console" />  
        </root> 
        <!-- 3rdparty Loggers -->  
        <logger name="org.springframework" level="error">  
        </logger>  
        <logger name="com.opensymphony.xwork2" level="error">  
        	<appender-ref ref="Console" />  
        </logger>
        <logger name="org.apache.ibatis" level="DEBUG"> 
         	<appender-ref ref="Console" />   
        </logger>
        <logger name="com.ibatis" level="DEBUG"> 
         	<appender-ref ref="Console" />   
        </logger>
        <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"> 
         	<appender-ref ref="Console" />   
        </logger>
        <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"> 
         	<appender-ref ref="Console" />   
        </logger>       
        <logger name="java.sql" level="DEBUG">  
        	<appender-ref ref="Console" />   
        </logger>        
        <logger name="org.jboss.netty" level="warn">  
        </logger>  
        <logger name="com.mchange.v2" level="warn">  
        </logger>  
        <logger name="org.quartz"   additivity="false" level="DEBUG">  
        </logger>
        <logger name="com.alibaba.druid" level="DEBUG">  
        </logger>        
        <logger name="activiti_maven_project.com.git" level="debug"  
            additivity="false">  
            <appender-ref ref="Console" />  
        </logger> 
        <logger name="com.zaxxer.hikari" level="ERROR">  
        </logger>   
         <logger name="org.activiti" level="DEBUG">  
        </logger> 
         <logger name="org.mybatis.spring" level="DEBUG">  
        </logger>
    </loggers>  
</configuration>