<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true" scanPeriod="1 seconds" Debug="false">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern> %d{yyyy-M-d HH:mm:ss}|%t|%p|%X{bizSeq}|%X{transCode}|%X{systemNo}|%X{invokeSeq}|%m|%F|%L|%n</pattern>
	</encoder>
  </appender>
  <appender name="stdout2" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-M-d HH:mm:ss}|%t|%p|%m|%F|%L|%n</pattern>
		</encoder>
	</appender>
<!--   <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">  -->
<!--   	<Encoding>UTF-8</Encoding> -->
<!-- 	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 	  	<FileNamePattern>./logs/nb-web-%d{yyyy-M-d}.log</FileNamePattern> -->
<!-- 	  	<MaxHistory> 30 </MaxHistory> -->
<!-- 	  </rollingPolicy> -->
<!-- 	  <encoder> -->
<!-- 	  <pattern>%d{yyyy-M-d HH:mm:ss}|%t|%p|%X{bizSeq}|%X{transCode}|%X{systemNo}|%X{invokeSeq}|%m|%F|%L|%n</pattern> -->
<!-- 	  </encoder> -->
<!-- 	  <tiggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
<!-- 	  	<MaxFileSize>10MB</MaxFileSize> -->
<!-- 	  </tiggeringPolicy> -->
<!--   </appender> -->
  <logger name="com.atomikos" level="warn"/>
<!--   <logger name="bitronix.tm.BitronixTransaction" level="debug"/> --> 
<!--   <logger name="org.springframework.transaction" level="trace"/> --> 
  
  
<!--   <logger name="com.ebao.gs.front.data.bxb.model.TbBxbMasterPolicyHolderMapper" level="trace"/>
  <logger name="com.ebao.zhongan.tuiyun.batch.TuiyunPolicyItemWriter" level="trace"/>
 -->
 <!-- log4mybatis -->
	<logger name="jdbc.sqltiming" level="DEBUG"/>
	<logger name="org.apache.ibatis" level="DEBUG"/>
	<logger name="org.apache.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
	<logger name="org.apache.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>
	<logger name="org.apache.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
	<logger name="java.sql.Connection" level="DEBUG"/>
	<logger name="java.sql.Statement" level="DEBUG"/>
	<logger name="java.sql.PreparedStatement" level="DEBUG"/>
	<logger name="java.sql.ResultSet" level="DEBUG"/>
	
	<logger name="org.mybatis.spring.SqlSessionFactoryBean" level="INFO" />
	
	<!-- 	log4struts	 -->
	<logger name="com.opensymphony.xwork2" level="warn" />	
 	<logger name="org.apache.struts2" level="warn" />
 	
	 	<logger name="org.springframework.boot" level="DEBUG"/>
	 	<logger name="cn.com.git" level="DEBUG"/>
<!-- 	 	<logger name="com.nci.udmp.util.logging.Logtest" additivity="false"> -->
<!-- 	 		<appender-ref ref="stdout"/> -->
<!-- 	 	</logger > -->
	  <root level="info">
	    <appender-ref ref="stdout2"/>
<!-- 	    <appender-ref ref="file"/> -->
	  </root>
</configuration>