body {
	margin:0;
	background-color: #fff;
	font-size: 12px;
	color: #2F496E;
}
td {
	font-size: 12px;
}

a{
	color:#2F496E;
	text-decoration:none;
}
a:hover{
	color:#2F496E;
	text-decoration: underline;
}
.left {
	float:left;
}
.right {
	float:right;
}
input.login_1,input.login_2 {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #B1C2DA;
	border-left-color: #B1C2DA;
	border-bottom-color: #FFFFFF;
	border-right-color: #FFFFFF;
	font-size: 12px;
	width: 160px;
}
input.login_2 {
	width:120px;
}span.yzm {
	font-size: 14px;
	color: #8097B6;
	font-weight: bold;
}
input.enter {
	font-size: 12px;
	color: #546C95;
	background-color: transparent;
	background-image: url(login_enter_B1.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 100px;
	letter-spacing: 2px;
	border:0;
	padding: 2px 0 0 20px;
}
input.sq {
	font-size: 12px;
	color: #546C95;
	background-color: transparent;
	background-image: url(login_enter_B2.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 73px;
	letter-spacing: 2px;
	border:0;
	padding: 2px 0 0 20px;
	margin: 0 3px;
}
#loginTop a {
	color: #A5B9D5;
	text-decoration: none;
	margin-right:15px;
}
#loginTop a:hover {
	color: #546C95;
	text-decoration: none;
	margin-right:15px;
}
.l_intro {
	color: #7894BA;
	line-height: 32px;
}
#grv {
	display: none;
}
.l_font{
	color:#039;
}
#mainTopMenu td {
	background-image: url(m_tmc.gif);
	background-repeat: no-repeat;
	padding:0 7px;
	height:25px;
}
#mainTopMenu a{
	color:#7794C0;
	text-decoration:none;
}
#mainTopMenu a:hover{
	color: #7794C0;
	text-decoration: underline;
}
#nameInfo {
	background-image: url(m_tnbg.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 309px;
	color: #7794C0;
	margin-right:20px;
}
#nameInfo a{
	color:#2F496E;
	text-decoration:none;
}
#nameInfo a:hover{
	color:#c00;
	text-decoration: underline;
}
#placeInfo {
	background-image: url(m_placebg.jpg);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #1445A6;
	height: 43px;
	width: 253px;
	padding: 6px 0 0 35px;
	margin-bottom:5px;
}
.place {
	background-image: url(m_mplace.gif);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #1445A6;
	letter-spacing: 3px;
	padding: 4px 0 0 40px;
	width:208px;
}
a.p_r {
	color: #2F496E;
	text-decoration: none;
	margin-right:10px;
}
a.p_r:hover {
	color: #2F496E;
	text-decoration: underline;
	margin-right:10px;
}
a.m_l {
	color: #4D73A1;
	text-decoration: none;
	font-weight: bold;
}
a.m_l:hover {
	color: #4D73A1;
	text-decoration: underline;
}
a.red {
	color: #c00;
	text-decoration: none;
}
a.red:hover {
	color: #c00;
	text-decoration: underline;
}
a.newmenu {
	color: #0033CC;
	text-decoration: none;
}
a.newmenu:hover {
	color: #0033CC;
	text-decoration: underline;
}
.line20 {
	line-height:22px;
}
.leftC {
	padding: 0 0 5px 10px;
}
#content,.home {
	color: #5B7CAE;	
}
#content td,.home td {
	background-color:#FFFFFF;
}
#content td.func input {
	color: #5B7CAE;
	background-image: url(m_an1.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 35px;
	font-size: 12px;
	border:0;
	background-color:transparent;
	padding-top:2px;
}
#content tr.top td {
	background-image: url(m_table_top.jpg);
	background-repeat: repeat-x;
	text-align:center;
	line-height:20px;
	font-weight: bold;
	color: #2F496E;
}
.home tr.top td{
	background-image: url(m_table_top.jpg);
	background-repeat: repeat-x;
	text-align:center;
	line-height:14px;
	font-weight: bold;
	color: #2F496E;
}
.home tr.top div.left{
	color: #FF6600;	
}
.home tr.title td{
	color: #2F496E;
	font-weight: bold;
	background-color: #F3F7FC;
}
#content td.name,.home td.name {
	color: #2F496E;
}
td.page {
	background-image: url(m_table_b.jpg);
	background-repeat: repeat-x;
}
input.page {
	color: #5B7CAE;
	background-image: url(m_an2.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 49px;
	font-size: 12px;
	border:0;
	background-color:transparent;
	padding-top:3px;
}
td.menutab {
	background-image: url(m_leftlm.gif);
	background-repeat: no-repeat;
	padding: 2px 0 0 28px;
	height:23px;
}
td.menutab2 {
	background-image: url(m_leftlm2.gif);
	background-repeat: no-repeat;
	padding: 2px 0 0 28px;
	height:23px;
}
input.anybutton {
	background-image: url(anybutton_bg.gif);
	background-repeat: repeat-x;
	border: 1px solid #9FA3BC;
	height: 20px;
	color: #486D9E;
	font-size: 12px;
	margin:0 5px;
	padding-top: 3px;
}
span.red {
	color:#ff0000;
}
input.pdel {
	background-image: url(m_an_del.gif);
	color: #5B7CAE;
	background-repeat: no-repeat;
	height: 20px;
	width: 75px;
	font-size: 12px;
	border:0;
	background-color:transparent;
	padding:5px 0 0 16px;
}
.service_txt {
	color: #ED6801;
}
.enter_tab {
	color: #003399;
}
.enter_tab input.i {
	height: 18px;
	width: 280px;
	background-color: #FFFFFF;
	border:0;
	border-top: 1px solid #90ABD1;
	border-left: 1px solid #90ABD1;
	font-size:12px;
	color:#003399;
}
.enter_tab input.i2 {
	height: 18px;
	width: 234px;
	background-color: #FFFFFF;
	border:0;
	border-top: 1px solid #90ABD1;
	border-left: 1px solid #90ABD1;
	font-size:12px;
	color:#003399;
}
.service_txt a {
	color: #ED6801;
	font-weight:bold;
}
.service_txt a:hover {
	color: #c00;
	font-weight:bold;
	text-decoration:underline;
}
#yzcode {
	background-color: #ED6801;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	border:0;
	width:35px;
	height:18px;
	padding-left:4px;
}
.left20 {
	padding-left: 45px;
}
ol.wt {
	line-height: 26px;
	margin:10px 0 0 40px;
}
ol.gn {
	line-height: 30px;
	margin:10px 0 0 45px;
	background: url(login_bg30.gif);
}
.guest {
	width: 97%;
	margin:10px 5px;
	height:140px;
}
.pice {
	font-weight: bold;
	color: #FFFF00;
	height:1px;
	padding-right:10px;
	filter: Glow(Color=#003399, Strength=2);
	/*filter: DropShadow(Color=#333333, OffX=-1, OffY=-1, Positive=200);*/
}
.pice span {
	font-family: Impact;
	font-size: 24px;
	color: #f00;
	vertical-align:-3px;
}
textarea.guest {
	font-size: 12px;
	color: #003399;
	background-color: #FFFFFF;
}