<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="true">
	<dubbo:application name="dubbo-test-server"  />
	
	<dubbo:registry address="127.0.0.1:19090" />
	
	<dubbo:protocol name="dubbo" port="6080"/>
	
	<dubbo:service interface="cn.com.git.trace.mock.DubboService" ref="dubboServiceServer" protocol="dubbo" />
	
	<bean name="dubboServiceServer" class="cn.com.git.trace.mock.DubboServiceServer"></bean>
 	
 	<dubbo:provider filter="udmpTraceProviderFilter" />
 	
 	<bean class="cn.com.git.udmp.trace.BraveFactory" lazy-init="false"/>
</beans>